.card VBox {
    -fx-min-height:62;
    -fx-pref-height:62;
    -fx-max-height:80;
    -fx-spacing: 4;
    -fx-padding: 4;
    /*-fx-alignment:*/
    /*-fx-fill-width:true*/
}

.button{
    -fx-min-width:120;
    -fx-pref-width:120;
    -fx-max-width:120;
}

.small-button{
     -fx-min-width:22;
    -fx-pref-width:22;
    -fx-max-width:22;
    
    -fx-min-height:22;
    -fx-pref-height:22;
    -fx-max-height:22;
    
    /*-fx-background-radius: 3;*/
    
    -fx-background-color: transparent;
    /*-fx-border-color: -color-field-border;*/
    /*derive(-color-background, -0.0);*/
    /*-fx-text-fill: -color-background;;*/

    -fx-content-display:graphic-only;
    -fx-text-alignment:center;

}
.small-button:hover{
     -fx-background-color: derive(whitesmoke, -20%);;
    
}
.small-button .glyph-icon{
    -fx-fill: derive(black, 50%);
    -glyph-size: 18;
}


.small-button:hover .glyph-icon{
    -fx-fill: black;
}
